        <section class="cta-section">
            <div class="w-layout-blockcontainer container w-container">
                <div class="cta-wrap-1">
                    <div data-w-id="c4f302d9-c871-6dc6-b668-4ac64cccd410" class="cta-left-block">
                        <h2 class="cta-title">
                            Ready to Join <span class="cta-title-span">the Next</span>
                            Edition?
                        </h2>
                    </div>
                    <div data-w-id="865f2b1f-a375-292f-35c3-df327c340353" class="cta-right-block">
                        <p class="cta-para">Step into a journey of purpose, confidence, and impact. Register now to be part of Miss Eco Ghana and represent a voice for sustainability and positive change.</p>
                        <a data-w-id="d7c6074b-1423-5b6e-a07b-893556ac1ee4" href="/#" class="button style-2 w-inline-block">
                            <div class="button-area">
                                <div class="button-text">Register Now</div>
                                <div class="button-icon-wrapper">
                                    <div class="icon-hover-white">
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d62_dot-icon.svg" alt="" class="button-icon"/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d96_Line.svg" loading="lazy" alt="Line Bg" class="pattern-bg"/>
        </section>
