        <section class="footer-section">
            <div class="w-layout-blockcontainer container w-container">
                <div class="footer-wrapper">
                    <div class="footer-top-wrapper">
                        <div class="footer-main-menu-wrap">
                            <div data-w-id="a6928064-bf89-04f1-b120-0970ca8a7db4" class="footer-top-right-block">
                                <img src="assets/logo-final.png" loading="lazy" alt="Logo"/>
                                <div class="contact-info-subtext-1">
                                    <p class="contact-info-title">Contact us:</p>
                                    <a href="mailto:info@missecoghana.com" class="contact-info-link">info@missecoghana.com</a>
                                </div>
                            </div>
                            <!-- <div class="footer-widget-wrapper">
                                <div data-w-id="9ddfc587-fffc-b372-6f58-337c9965f052" class="footer-widget">
                                    <p class="footer-widget-title">Navigation</p>
                                    <div class="footer-widget-lists">
                                        <a href="/about" class="footer-link">about</a>
                                        <a href="/schedule" class="footer-link">Agenda</a>
                                        <a href="/sponsors" class="footer-link">Sponsored</a>
                                    </div>
                                </div>
                                <div data-w-id="110f998d-d65f-3c08-b238-4f6d2ad74739" class="footer-widget">
                                    <p class="footer-widget-title">Quick Links</p>
                                    <div class="footer-widget-lists">
                                        <a href="/speakers" class="footer-link">Speakers</a>
                                        <a href="/ticket" class="footer-link">Tickets</a>
                                        <a href="/blog" class="footer-link">Blogs</a>
                                    </div>
                                </div>
                                <div data-w-id="df42a6a9-eb8c-a091-b265-c6d1bd655407" class="footer-widget">
                                    <p class="footer-widget-title">Resources</p>
                                    <div class="footer-widget-lists">
                                        <a href="/privacy-policy" class="footer-link">Privacy</a>
                                        <a href="/contact" class="footer-link">contact</a>
                                        <a href="/license" class="footer-link">license</a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="footer-bottom-wrap">
                        <div data-w-id="9ddfc587-fffc-b372-6f58-337c9965f08f" class="copyright">
                            <p class="copyright-text">
                                Miss Eco Ghana 2026.<a href="/" aria-current="page" class="copyright-link w--current"> Powered by Softmind Labs</a>
                            </p>
                            <div class="social-media-wrapper">
                                <a href="https://www.facebook.com/" target="_blank" class="social-icon">fb</a>
                                <a href="https://twitter.com/" target="_blank" class="social-icon">TW</a>
                                <a href="https://www.linkedin.com/" target="_blank" class="social-icon">lt</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d96_Line.svg" loading="lazy" alt="Line Bg" class="pattern-bg"/>
        </section>
