        <section data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36cca6" class="header">
            <div class="w-layout-blockcontainer container w-container">
                <div data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36cca8" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
                    <div class="navbar-wrapper">
                        <a href="/" aria-current="page" class="navbar-brand-header w-nav-brand w--current">
                            <img loading="lazy" src="assets/logo-final.png" alt="Miss Eco Ghana" class="navbar-brand-header-logo"/>
                        </a>
                        <div class="menu-button-wrap">
                            <nav role="navigation" class="nav-menu-2 w-nav-menu">
                                <ul role="list" class="nav-menu w-list-unstyled">
                                    <li data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36ccb0" class="list-item">
                                        <div class="menu-dot-wrap">
                                            <div class="menu-dot"></div>
                                        </div>
                                        <a href="about.html" class="nav-link w-nav-link">ABOUT</a>
                                    </li>
                                    <li data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36ccdb" class="list-item">
                                        <div class="menu-dot-wrap">
                                            <div class="menu-dot"></div>
                                        </div>
                                        <a href="#schedule" class="nav-link w-nav-link">SCHEDULE</a>
                                    </li>
                                    <li data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36ccd8" class="list-item">
                                        <div class="menu-dot-wrap">
                                            <div class="menu-dot"></div>
                                        </div>
                                        <a href="#register" class="nav-link w-nav-link">REGISTER</a>
                                    </li>
                                    <li data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36ccde" class="list-item">
                                        <div class="menu-dot-wrap">
                                            <div class="menu-dot"></div>
                                        </div>
                                        <a href="#faqs" class="nav-link w-nav-link">FAQs</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="navbar-button">
                                <a data-w-id="428a1d27-cd13-45a3-89b5-f9ab8baf4661" href="https://voting.missecoghana.com" class="button w-inline-block">
                                    <div class="button-area">
                                        <div class="button-text" style="color: black;">VOTE</div>
                                        <div class="button-icon-wrapper">
                                            <div class="icon-hover-black">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d62_dot-icon.svg" alt="" class="button-icon"/>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="menu-button w-nav-button">
                                <div data-is-ix2-target="1" class="menu-button-icon" data-w-id="050aa1aa-a3f6-633c-19aa-236dfe36cce3" data-animation-type="lottie" data-src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0a5b_light%20icon.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
