        <section class="ticker-section">
            <div data-w-id="7c286e25-7644-6055-ab57-64aa78fc36f7" class="ticker-wrap">
                <div class="ticker-list">
                    <img src="assets/imdisplay1.jpeg" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="assets/hero-2.jpeg" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <img src="assets/imdisplay2.jpeg" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="assets/imdisplay3.jpeg" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <img src="assets/hero-mobile.jpg" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="assets/image-2.jpg" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <!-- <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d67_img-2.png" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d65_img-3.png" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d63_img-4.png" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d66_img-5.png" loading="lazy" alt="Image" class="ticker-img _1"/> -->
                </div>
                <div class="ticker-list">
                    <img src="assets/hero.jpg" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="assets/hero-2.jpeg" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <img src="assets/hero-mobile-2.jpg" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="assets/hero-mobile-3.jpg" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <img src="assets/hero-mobile.jpg" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="assets/image-2.jpg" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <!-- <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d67_img-2.png" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d65_img-3.png" loading="lazy" alt="Image" class="ticker-img _1"/>
                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d63_img-4.png" loading="lazy" alt="Image" class="ticker-img"/>
                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d66_img-5.png" loading="lazy" alt="Image" class="ticker-img _1"/> -->
                </div>
            </div>
            <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d96_Line.svg" loading="lazy" alt="Line Bg" class="pattern-bg"/>
        </section>
