        <section class="why-choose-us-section section-padding-top">
            <div class="w-layout-blockcontainer container w-container">
                <div class="section-wrap">
                    <div class="section-title-wrap">
                        <h2 data-w-id="3aaa6288-2190-0df3-c357-7eb7081ca256" style="opacity:0" class="section-title">
                            Register to <span class="section-title-span">Participate</span>
                        </h2>
                    </div>
                    <div class="choose-us-widget-list">
                        <div data-w-id="0297c2e0-2321-acd7-c49b-d63781ea75e0" style="opacity:0" class="choose-us-widget-item">
                            <p class="choose-us-number">01.</p>
                            <div class="choose-text-block">
                                <div class="choose-us-title">Eco Advocacy</div>
                                <p class="choose-us-paargraph">Champion sustainability and climate action.</p>
                            </div>
                        </div>
                        <div data-w-id="ee30f8db-8c78-d077-974e-19d8bd8b7b7c" style="opacity:0" class="choose-us-widget-item">
                            <p class="choose-us-number">02.</p>
                            <div class="choose-text-block">
                                <div class="choose-us-title">Leadership</div>
                                <p class="choose-us-paargraph">Grow confidence and purpose.</p>
                            </div>
                        </div>
                        <div data-w-id="59b823fd-35d8-ea17-4378-aa7fcd9c7f3f" style="opacity:0" class="choose-us-widget-item">
                            <p class="choose-us-number">03.</p>
                            <div class="choose-text-block">
                                <div class="choose-us-title">Community</div>
                                <p class="choose-us-paargraph">Connect with changemakers nationwide.</p>
                            </div>
                        </div>
                        <div data-w-id="f066ea3a-5237-bc17-7084-17bf3199baf9" style="opacity:0" class="choose-us-widget-item">
                            <p class="choose-us-number">04.</p>
                            <div class="choose-text-block">
                                <div class="choose-us-title">The Crown</div>
                                <p class="choose-us-paargraph">Compete for the Miss Eco Ghana title.</p>
                            </div>
                        </div>
                    </div>
                    <img class="why-choose-us-img" src="assets/finalists.jpeg" alt="Image" style="opacity:0" sizes="100vw" data-w-id="44328482-4905-f66f-b063-fd09c071914d" loading="lazy" />
                </div>
            </div>
        </section>
