        <section class="sponsor-ticker-section">
            <div class="sponsor-ticker-list">
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da0_logo-1.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da1_logo-2.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9d_logo-3.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9f_logo-4.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9e_logo-5.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da0_logo-1.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da1_logo-2.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9d_logo-3.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9f_logo-4.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
            </div>
            <div class="sponsor-ticker-list">
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da0_logo-1.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da1_logo-2.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9d_logo-3.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9f_logo-4.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9e_logo-5.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da0_logo-1.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0da1_logo-2.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9d_logo-3.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d88_star.svg" loading="lazy" alt="Icon" class="sponsor-ticker-icon"/>
                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d9f_logo-4.svg" loading="lazy" alt="Logo" class="sponsor-ticker-logo"/>
            </div>
        </section>
        <section class="sponsor-section section-padding-top">
            <div class="w-layout-blockcontainer container w-container">
                <div class="sponsor-section-wrap">
                    <div class="section-title-wrap">
                        <h2 data-w-id="99c89428-8bb2-e0e6-56d5-db4be7054311" style="opacity:0" class="section-title">
                            Meet our <span class="section-title-span">seasons partners</span>
                        </h2>
                        <div data-w-id="60307084-a076-e899-5838-b31b7aa85c8a" style="opacity:0" class="sponsor-top-button">
                            <a data-w-id="93c66a6a-1b83-c49f-beb1-6159e9c7f343" href="/#" class="button style-3 w-inline-block">
                                <div class="button-area">
                                    <div class="button-text">Become a sponsor</div>
                                    <div class="button-icon-wrapper">
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d62_dot-icon.svg" alt="" class="button-icon"/>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d62_dot-icon.svg" alt="" class="button-icon-normal"/>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d62_dot-icon.svg" alt="" class="button-icon-hover"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="sponsor-wrap-1">
                        <div class="sponsor-top-block">
                            <div class="sponsor-card style-1">
                                <div data-w-id="52f926e1-3172-bcfa-0d63-450231ceb1f1" style="opacity:0" class="sponsor-title">Diamond Partner</div>
                                <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d85_partner-logo-1.svg" loading="lazy" style="opacity:0" data-w-id="21d1a101-2d9f-b693-d832-67b64f3202af" alt="Logo" class="sponsor-logo"/>
                            </div>
                            <div class="sponsor-card style-2">
                                <div data-w-id="636e28f2-65fd-7712-02d0-2742f334748a" style="opacity:0" class="sponsor-title">Platinum Partners</div>
                                <div data-w-id="ba0c0aa9-db85-a01c-33f0-011a2fe8d4dc" style="opacity:0" class="partners-ticker-wrap">
                                    <div class="partners-ticker-list">
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d83_partner-logo-2.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d82_partner-logo-3.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d86_partner-logo-4.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d87_partner-logo-6.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d85_partner-logo-1.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    </div>
                                    <div class="partners-ticker-list">
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d83_partner-logo-2.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d82_partner-logo-3.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d86_partner-logo-4.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d87_partner-logo-6.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d85_partner-logo-1.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                        <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    </div>
                                </div>
                                <div class="partners-shadow-left"></div>
                                <div class="partners-shadow-right"></div>
                            </div>
                        </div>
                        <div class="sponsor-card">
                            <div data-w-id="776a7884-3809-8f3b-7d00-81b401885296" style="opacity:0" class="sponsor-title">Platinum Partners</div>
                            <div data-w-id="776a7884-3809-8f3b-7d00-81b401885298" style="opacity:0" class="partners-ticker-wrap">
                                <div class="partners-ticker-list-right">
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d83_partner-logo-2.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d82_partner-logo-3.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d86_partner-logo-4.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d87_partner-logo-6.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d85_partner-logo-1.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                </div>
                                <div class="partners-ticker-list-right">
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d83_partner-logo-2.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d82_partner-logo-3.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d86_partner-logo-4.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d87_partner-logo-6.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d85_partner-logo-1.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                    <img src="https://cdn.prod.website-files.com/6868cd37a164c17aef4e0971/6868cd37a164c17aef4e0d84_partner-logo-5.svg" loading="lazy" alt="Logo" class="partners-ticker-logo"/>
                                </div>
                            </div>
                            <div class="partners-shadow-left"></div>
                            <div class="partners-shadow-right"></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
